* { padding: 0; margin: 0; }
canvas { 
    background-image:url("../media/img/Bill_Murray.jpeg");
    background-position: center;
    background-size: cover;
    display:block;
    margin: 0 auto; 
}
